@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat Alternates;
}
.main-content{
  display: flex;
  min-height: 100vh;
  align-items: center;
  transition: all .5s;
}
main > img:first-child {
  height: 100vh;
  position: absolute;
  width: 50%;
  object-fit: cover;
  right: 0;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

body.login-mode main > img:first-child {
  right: 50%;
  left: unset;
  transform: translateX(-0%);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
}
body.login-mode .form-register_content {
  opacity: 0;
  pointer-events: none;
}
body.login-mode .form-login_content {
  opacity: 1;
  pointer-events: all;
}
body.registration-mode .form-login_content {
  opacity: 0;
  pointer-events: all;
}
